body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

.question
  white-space: pre-wrap

input, select, #add-icon
  margin: 5px 10px

.nav
  margin: 10px 10px 0 0
  float: left

div#your-answers
  padding-top: 10px
  font-style: italic

#new-question-wrapper
  border-top: 1px dashed
  label
    width: 120px
    display: inline-block
    margin: 5px 10px 0 0

hr#new-question-divider
  width: 60%
  border: 0

.added-question
  border-top: 1px dotted
  padding: 30px

span.error
  color: #ff0000
  padding-left: 20px